.custom-avatar-header {
  background-color: #1f103b;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.custom-avatar-image-container {
  padding-top: 135%;
  position: relative;
}

.custom-avatar-image-width {
  max-width: 256px;
}
