.bottom-sheet-header {
  background-color: #3b4148;
  box-shadow: 0px -8px 24px rgba(0, 0, 0, 0.16), 0px -4px 16px rgba(0, 0, 0, 0.08);
  height: 56px;
}

.bottom-sheet-body {
  min-height: 50vh;
  background-color: #3b4148;
}
