.progress {
  padding: 6px;
  border-radius: 34px;
  height: 42px;
  background: linear-gradient(180deg, #1c1c1c 2.38%, #2b2b2b 97.62%);
  max-width: 100%;
  width: 40%;
  min-height: 40px;
  box-shadow: 0 8px 24px rgba(43, 46, 78, 0.16), 0 4px 8px rgba(43, 46, 78, 0.08);
}

.progress-container {
  background: linear-gradient(180deg, #c0c0c2 0%, #636363 100%);
  border-radius: 1000px;
  height: 48px;
  padding-left: 3px;
  padding-right: 3px;
}

.bar-progress {
  position: relative;
  border-radius: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80.21%),
    linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%), linear-gradient(89.02deg, #006ad0 0.89%, #6be4f6 100%);
}
.bar-progress::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: sheen 100s linear infinite;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

@keyframes sheen {
  from {
    background-position: left 0;
  }
  to {
    background-position: left -1790px;
  }
}

@media (max-width: 720px) {
  .bar-progress {
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80.21%),
      linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%), linear-gradient(89.02deg, #006ad0 0.89%, #6be4f6 100%);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}

.progress-shadow {
  box-shadow: 0 8px 24px rgba(43, 46, 78, 0.16), 0 4px 8px rgba(43, 46, 78, 0.08);
}
