.mobile-sandwich-button {
  margin: 10px 8px !important;
}

.app-item-container {
  width: 80px !important;
  height: 90px !important;
  border-radius: 0 !important;
}

.app-item-container-active {
  width: 80px !important;
  height: 90px !important;
  border-radius: 0 !important;
  background: linear-gradient(89.02deg, #7034e5 0.89%, #8045f4 100%);
}

.app-item-text {
  font-size: 12px;
  line-height: 20px;
}
