.final-item-container {
  position: relative;
  width: 100%;
  padding-top: 126%;
  box-shadow: 0px 8px 16px rgba(18, 20, 39, 0.24), 0px 4px 8px rgba(18, 20, 39, 0.16);
}

.final-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.final-image {
  border-radius: 4px;
}

.close-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #121427 !important;
  opacity: 0.5;
  box-shadow: 0 8px 16px rgba(18, 20, 39, 0.24), 0 4px 8px rgba(18, 20, 39, 0.16);
}

.final-avatar-container {
  width: 80px;
  height: 80px;
  position: relative;
}

.final-avatar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(18, 20, 39, 0.24), 0 4px 8px rgba(18, 20, 39, 0.16);
}

.refresh-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 48px;
  left: 48px;
  bottom: 0;
  right: 0;
  margin-top: auto;
  background: white !important;
}
