.background-color {
  background-color: #03080e;
}

.brain-blend {
  background: #3b4148;
  mix-blend-mode: color;
}

.brain-blend-2 {
  background: linear-gradient(89.02deg, #7034e5 0.89%, #8045f4 100%);
  mix-blend-mode: color;
  opacity: 0.1;
}

.brain-image {
  background-image: url('../../assets/brain.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: -webkit-fill-available;
}

.progress {
  padding: 6px;
  border-radius: 34px;
  height: 42px;
  background: linear-gradient(180deg, #1c1c1c 2.38%, #2b2b2b 97.62%);
  max-width: 580px;
  width: 40%;
  min-height: 40px;
  box-shadow: 0 8px 24px rgba(43, 46, 78, 0.16), 0 4px 8px rgba(43, 46, 78, 0.08);
}

.progress-container {
  background: linear-gradient(180deg, #c0c0c2 0%, #636363 100%);
  border-radius: 1000px;
  height: 48px;
  padding-left: 3px;
  padding-right: 3px;
}

.bar-progress {
  position: relative;
  border-radius: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80.21%),
    linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%), linear-gradient(89.02deg, #006ad0 0.89%, #6be4f6 100%);
}
.bar-progress::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: sheen 100s linear infinite;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

@keyframes sheen {
  from {
    background-position: left 0;
  }
  to {
    background-position: left -1790px;
  }
}

@media (max-width: 720px) {
  .bar-progress {
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80.21%),
      linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%), linear-gradient(89.02deg, #006ad0 0.89%, #6be4f6 100%);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}

.progress-shadow {
  box-shadow: 0 8px 24px rgba(43, 46, 78, 0.16), 0 4px 8px rgba(43, 46, 78, 0.08);
}

._1ceqH ._2fG9h {
  padding: 20px;
}

._1ceqH ._dt3-T {
  background: transparent;
  min-height: 350px;
}

._1ceqH ._1Yplu {
  text-align: center;
}

._1ceqH ._1lB9c {
  display: none;
}

._1ceqH ._1YOWG ._eV_dK {
  text-align: center;
  color: #71727d;
}

._1ceqH ._1Yplu ._1Pz2d {
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  color: #ffffff;
  height: 48px;
  padding: 6px 24px;
  font-size: 16px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 100px;
  text-transform: none;

  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  background-color: #e0e0e0;

  color: white;
  background: linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%);
  box-shadow: 0px 8px 16px rgba(98, 38, 217, 0.24), 0px 4px 8px rgba(98, 38, 217, 0.16);
  background-color: #3f4cc9;

  margin-left: 0.5rem !important;
}

._1ceqH ._1Yplu ._1Pz2d:hover {
  text-decoration: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: linear-gradient(89.02deg, #6226d9 0.89%, #8c52ff 100%);
  color: white;
}

._1ceqH ._3bC73 ._1dpop:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

._1ceqH ._2fG9h ._dt3-T > p {
  overflow: hidden;
  height: 40px;
}

._1ceqH ._2fG9h ._dt3-T > p::before {
  content: 'iPhones are not supported.';
  display: block;
}
